body {
	margin-top: 75px;
}

div #warning-div, div #success-div {
	width:80% !important;
    margin-left: auto;
    margin-right: auto;
} 

.error {
	color:red;
}

table {
	width: 70%;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 5px;
}