body {
	margin-top: 75px;
}

div #warning-div, div #success-div {
	width:80% !important;
    margin-left: auto;
    margin-right: auto;
} 

.error {
	color:red;
}

.table-actions a {
	margin-top: .25em;
	margin-bottom: .25em;
}